* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 70px;
  background-color: #ec715f;
}

.menu {
  display: none;
}

.header-container {
  width: 1024px;
  margin: 0 auto;
}

.logo {
  height: 70px;
}

nav {
  color: #fff;
  display: flex;
  justify-content: end;
  float: right;
}

nav li {
  font-size: 16px;
  margin: 0 30px;
  line-height: 70px;
  list-style: none;
}

.main-vidual {
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 650px;
  text-align: center;
  color: #fff;
}

.main-vidual-container {
  height: 650px;
  text-align: center;
  color: #fff;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 64px;
  padding: 200px 0 10px;
}

.main-vidual-text {
  font-size: 20px;
  margin-bottom: 30px;
}

.portfolio {
  background-color: #eceff1;
  padding: 90px 0;
  width: 100%;
}

.portfolio-container {
  width: 920px;
  text-align: center;
  margin: 0 auto;
}

h2 {
  font-size: 32px;
  color: #000;
  display: inline-block;
  position: relative;
}

.clearfix::after {
  content: “”;
  display: block;
  clear: both;
}

h2:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  display: inline-block;
  width: 70px;
  height: 3px;
  transform: translate(-50%);
  background-color: #ec715f;
}

.heading {
  padding: 38px 0 30px 0;
}

.port1 {
  background-image: url(img/sketch.jpg);
  margin-bottom: 10px;
}

.port2 {
  background-image: url(img/websuku.png);
  margin: 0 10px 10px;
}

.port3 {
  background-image: url(img/write.jpg);
  margin-bottom: 10px;
}

.port4 {
  background-image: url(img/webcamp.png);
}

.port5 {
  background-image: url(img/talk.jpg);
  margin: 0 10px;
}

.port6 {
  background-image: url(img/webcamp-mother.png);
}

.clearfix div {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  float: left;
}

.clear {
  clear: left;
}

.feature {
}

.feature-container {
  width: 980px;
  padding: 90px 0;
  margin: 0 auto;
  text-align: center;
}

.strength > div {
  width: 320px;
  float: left;
}

.icon {
  font-size: 20px;
  color: #000;
  font-weight: bold;
  margin: 10px 0;
}

.strength > div:nth-child(2) {
  margin: 0 10px;
}

.fab,
.fas {
  font-size: 60px;
}

.strength-text {
  font-size: 16px;
  text-align: left;
}

.profile {
  background-color: #eceff1;
}

.profile-container {
  width: 1024px;
  margin: 0 auto;
  padding: 90px 0;
  text-align: center;
}

.profile-contents > div {
  float: left;
}

.face {
  width: 512px;
  text-align: center;
  margin: 0 auto;
}

.face > img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.profile-text {
  width: 512px;
  text-align: left;
}

.profile-text span {
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
}

.name {
  font-size: 16px;
}

.skills {
  font-size: 16px;
  margin-top: 20px;
}

.contact {
}

.contact-container {
  width: 800px;
  margin: 0 auto;
  padding: 90px 0;
  text-align: center;
}

.contact-contents > div {
  float: left;
}

.contact-left {
  width: 400px;
  text-align: center;
}

.address {
  text-align: left;
  margin: 0 auto;
  width: 50%;
}

.tel {
  margin-top: 20px;
}

.contact-right {
  width: 400px;
}

.sns {
  text-align: left;
  margin: 0 auto;
  width: 50%;
}

.sns i {
  font-size: 50px;
  margin-right: 20px;
}

.sns i:last-child {
  margin-right: 0;
}

span {
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact a {
  color: #000;
}

footer {
  height: 60px;
  width: 100%;
  text-align: center;
  background-color: #ec715f;
}

footer p {
  font-size: 16px;
  color: #fafafa;
  line-height: 60px;
}

@media screen and (max-width: 767px) {
  header {
    height: 50px;
  }

  .header-container {
    width: 90%;
  }

  .logo {
    height: 50px;
  }

  nav {
    display: none;
  }

  .menu {
    display: block;
    width: 40px;
    height: 40px;
    padding: 3px;
    border: solid 1.5px #fff;
    margin: 5px 0;
    float: right;
  }

  .main-vidual {
    height: 650px;
    color: #fafafa;
    background-image: url(img/code.png);
  }

  .main-vidual-container {
    width: 90%;
  }

  h1 {
    font-size: 40px;
    padding: 200px 0 0 0;
  }

  .main-vidual-text {
    font-size: 18px;
    margin: 10px 0 0;
  }

  .portfolio-container {
    width: 90%;
  }

  .clearfix > div:nth-child(odd) {
    display: none;
  }

  .clearfix > div {
    margin: 0 auto 10px;
    float: none;
  }

  .port6 {
    margin-bottom: 0;
  }

  .feature-container {
    width: 90%;
  }

  .strength > div {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }

  .strength > div:last-child {
    margin-bottom: 0;
  }

  .profile-container {
    width: 90%;
  }

  .profile-contents > div {
    float: none;
  }

  .face {
    width: 100%;
    margin-bottom: 20px;
  }

  .profile-text {
    text-align: center;
    width: 100%;
  }

  .contact-container {
    width: 90%;
  }

  .contact-contents > div {
    float: none;
    margin: 0 auto;
  }

  .contact-right {
    margin-top: 20px;
  }

  .sns,
  .address {
    text-align: center;
  }

  .sns i {
    margin-right: 8px;
  }
}
